video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
/*background: url(placeholder1.jpg) no-repeat;*/
background-size: cover;
}

.navbar {
	font-size: 18px;
	background-color: #4DB8FF;
}

.container {
	background-color: #4DB8FF;
	margin: 0px;
	margin-right: 0px;
}

.container a {
	color: white;
}

#logo {
	padding-right: 15px;
}

.main_wrapper {
	/*opacity: 0.4;*/
	background: rgba(255,255,255, 0.7);
	color: black;
	margin: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.btn-lg {
	color: white;
	background-color: #4DB8FF;
}

.horizontal_slider {
	/*-webkit-transform: rotate(90deg);*/
	margin-left: 30px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 740px;
	color: red;
}

.vertical_slider {
	float: right;
	position: absolute;
    right: 200px;
    bottom: 148px;
    height: 230px;
    /*left: 1000px;*/
}



















